<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Forum</title>
</head>

<body>
    <header>
        <nav>
            <button type="button" id="home">Home</button>
            <button type="button" id="dashboard">Dashboard</button>
            <button type="button" id="login">Login</button>
            <button type="button" id="logout">Logout</button>
        </nav>
    </header>
</body>
</html>